{
  "extends": ["vgno", "prettier"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "no-process-exit": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5",
      "tabWidth": 4,
      "printWidth": 120
    }]
  }
}